@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Source+Serif+Pro:wght@700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET */

*,
* ::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* GLOBAL STYLING */

html,
body {
  height: 100%;
}

h1,
h1,
h3 {
  font-family: "Source Serif Pro", serif;
}
